<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="gameController" ng-keypress="handleKeypress($event)">
<table>
    <tr class="names">
        <td id="teamOneName" ng-click="changeTeamOneName()">{{teamOne.name}}</td>
        <td id="teamTwoName" ng-click="changeTeamTwoName()">{{teamTwo.name}}</td>
    </tr>
    <tr class="scores">
        <td id="teamOneScore">{{teamOne.score}}</td>
        <td id="teamTwoScore">{{teamTwo.score}}</td>
    </tr>
</table>
</body>
</html>